/* below 1040px */
@media (max-width: 65em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 48em) {
  html {
    font-size: 35%;
  }
  /* .footer .grid--3-cols {
    grid-template-columns: repeat(2, 1fr);
  } */
}
/* 656 */
@media (max-width: 41em) {
  html {
    font-size: 30%;
  }
}

/* 576 */
@media (max-width: 36em) {
  html {
    font-size: 30%;
  }
  /* .header .menu-bar .fa-solid {
    display: block; */
  /* font-size: 3.2e; */
  /* } */
  .header .main-nav {
    display: none;
  }
  .header .navbar {
    padding: 2rem;
  }
  .header .logo {
    width: 13rem;
  }
  .hero-text-box h1 {
    color: #fff;
    font-size: 3.4rem;
    margin-bottom: 2.4rem;
    padding-top: 4.8rem;
  }
  .hero-text-box p {
    font-size: 2rem;
    margin-bottom: 4.8rem;
  }

  .btn-hero {
    /* font-size: 1.6rem; */
    margin-bottom: 4.8rem;
    /* padding-bottom: 2rem; */
    /* padding: 0.8rem 1.2rem; */
  }
  .hero-img .grid {
    grid-template-columns: 2fr 1fr;
    column-gap: 2rem;
  }
  .hero-img-box {
    width: 30rem;
    align-self: flex-end;
  }
  .grid--2-cols {
    grid-template-columns: 1fr;
    row-gap: 4.8rem;
  }
  .section3-text-box {
    grid-row: 2;
  }
  .section3-img-box {
    grid-row: 1;
  }
  /* .btn-hero {
    display: none;
  } */
  /* .btn-hero .btn-learn {
    margin: auto;
  } */
  .grid--3-cols {
    grid-template-columns: 1fr;
  }
  .section4-img .sec4_img {
    width: 70%;
    margin: auto;
  }

  .section4-img .container .des1 {
    margin-top: 2rem;
    font-size: 3.2rem;
  }
  .section5 .para {
    font-size: 3.2rem;
  }
  .section5 .des {
    font-size: 3.8rem;
  }
  .section5 .description {
    font-size: 3.2rem;
  }
  .section5 .container .fa-solid {
    font-size: 4.8rem;
    padding: 4rem;
  }

  .section5 .sec5-btn button {
    font-size: 4rem;
    margin-bottom: 4.8rem;
    padding: 2rem 9rem;
  }
  .section7-img .container p {
    font-size: 3rem;
  }
  .section7 .sec7-btn button {
    font-size: 4rem;
    margin-bottom: 4.8rem;
    padding: 2rem 9rem;
  }
  .section6 p {
    font-size: 3rem;
  }
  .section6 .grid-section6 {
    /* display: grid; */
    grid-template-columns: 1fr;
  }
  .second-div blockquote {
    font-size: 2.4rem;
  }
  .second-div {
    margin-top: 8rem;
    margin-bottom: 4rem;
  }

  .second-div .sec6_image {
    width: 10%;
    /* margin-top: -8rem; */
  }
  .footer .grid--3-cols {
    grid-template-columns: 1fr;
    row-gap: 4rem;
    column-gap: 8rem;
  }
  .footer-link {
    grid-column: 1/-1;
  }

  .footer-link .footer-p {
    font-size: 3rem;
  }

  .social-links .fa-brands {
    font-size: 3.5rem;
    margin: 2rem 0px;
  }
  .container .contact h3,
  .container .usefull-link h3 {
    font-size: 4.8rem;
    margin-bottom: 4.8rem;
  }
  .contact .footer-para,
  .usefull-link .flex ul li {
    font-size: 3.2rem;
  }

  .usefull-link .flex {
    gap: 15rem;
  }

  .contact .footer-des {
    font-size: 3.2rem;
    margin-bottom: 4.2rem;
  }
  .header .btn-mobile-nav {
    display: block;

    z-index: 100;
  }
  .header .main-nav {
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
    opacity: 1;
    /* overflow-x: hidden; */
    pointer-events: none;
    margin-left: -999px;
    visibility: hidden;
    transform: translateX(100%);
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
    margin-left: 0px;
  }

  .nav-open .fa-xmark {
    display: block;
    transition: all 0.5s ease-in;
  }

  .nav-open .fa-bars {
    display: none;
  }
  .main-nav-list {
    flex-direction: column;
  }
  .main-nav .main-nav-list .main-nav-link {
    margin-bottom: 4.8rem;
    font-size: 4.8rem;
  }
}
