@import "../../css/mediaQueries/MediaQueries.css";
/* @import "../../css/general/General.css"; */
/* .sec-header {
  background-color: #fdf2e9;
  padding-bottom: 0;
} */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;

  height: 9.6rem;
  padding: 0 4.8rem;
  /* position: relative; */
  border-bottom: 5px solid orangered;
}

.logo {
  width: 10rem;
}

.logo img {
  width: 100%;
}

/* NAVIGATION */

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

.btn-mobile-nav {
  border: none;
  background: none;
  /* cursor: pointer; */
  display: none;
}

.btn-mobile-nav .fa-solid {
  font-size: 4.2rem;
  color: #555;
  /* border: none; */
  margin: 0px;
  background-color: transparent;
}

.fa-xmark {
  display: none;
}
